$font-color: #fff;
$default-background-color: rgb(11, 127, 139);

.navbar{
  background-color: rgba(0, 0, 0, 0.3);

  .container{
    max-width: 1200px;
  }
  .btn-play{
    background-color: $default-background-color;
    border-radius: 10px;
    margin-right: 10px;
  }
  a{
    text-align: center;
  }
  .dropdown-menu{
    min-width: 250px;
  }
}
