$font-color: #fff;
$default-background-color: rgb(11, 127, 139);

.header {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;

  a {
    text-decoration: none;
    color: $font-color;
  }

  .headerContent {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;

    h1 {
      margin: 0;
      font-size: 2.5em;
    }
  }
}


