form {
  width: 400px;
  background-color: rgba(255, 255, 255, 0.03);
  margin: 20vh auto;
  border-radius: 10px;
  backdrop-filter: blur(15px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 35px 35px;

  button {
    margin-top: 20px;
    width: 100%;
    background-color:darken(#ffffff, 10%);
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      outline: 2px solid #0001;
      background-color: #ffffff;
    }
  }

  .error {
    color: yellow;
    text-align: center;
    margin-top: 10px;
  }

  p {
    text-align: center;
    margin-bottom: 0;
  }

  * {
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
  }
}