$app-background: linear-gradient(90deg, rgba(11, 127, 139, 1) 0%, rgba(89, 89, 198, 1) 100%);

@font-face {
    font-family: 'Nunito';
    src: url('./fonts/Nunito-Regular.ttf');
}
html{
    height: 100%;
}
body {
    background: $app-background;
    font-family: Nunito;
    color: #ffffff;
}

.container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.content {
    flex: 1;
}

.center {
    width: 1100px;
    margin: 0 auto;
}