$app-background: linear-gradient(90deg, rgba(11, 127, 139, 1) 0%, rgba(89, 89, 198, 1) 100%);

@font-face {
    font-family: 'Nunito';
    src: url('./fonts/Nunito-Regular.ttf');
}
body {
    background: $app-background;
    font-family: Nunito, serif;
    color: #ffffff;
}